<header>
  <h1>Matching Game</h1>
</header>

<section class="score-panel">
<ul class="stars">
  <li id="firstStar"><i class="fa fa-star"></i></li>
  <li id="secondStar"><i class="fa fa-star"></i></li>
      <li id="thirdStar"><i class="fa fa-star"></i></li>
      <li id="fourthStar"><i class="fa fa-star"></i></li>
  <li id="fifthStar"><i class="fa fa-star"></i></li>
</ul>

  <span class="moves">0</span> Moves
  
<app-clock></app-clock>

<span class="timerDisplay">180 Seconds</span>


  <div class="restart">
  <i class="fa fa-repeat" onClick="restartStart()"></i>
</div>
</section>