<ul class="deck">
    <app-tile
    *ngFor="let card of cards; let i = index"
    [cardClass]="card"
    [id]="i">
    </app-tile>
    <!-- <li class="card match">
        <i class="fa "></i>
    </li>
    <li class="card match">
        <i class="fa"></i>
    </li>
    <li class="card match">
        <i class="fa"></i>
    </li>
    <li class="card match">
        <i class="fa"></i>
    </li>
    <li class="card match">
        <i class="fa"></i>
    </li>
    <li class="card match">
        <i class="fa"></i>
    </li>
    <li class="card match">
        <i class="fa"></i>
    </li>
    <li class="card match">
        <i class="fa"></i>
    </li>
    <li class="card match">
        <i class="fa"></i>
    </li>
    <li class="card match">
        <i class="fa"></i>
    </li>
    <li class="card match">
        <i class="fa"></i>
    </li>
    <li class="card match">
        <i class="fa"></i>
    </li>
    <li class="card open show">
        <i class="fa"></i>
    </li>
    <li class="card">
        <i class="fa"></i>
    </li>
    <li class="card show">
        <i class="fa"></i>
    </li>
    <li class="card open show">
        <i class="fa"></i>
    </li> -->
</ul>